@import url(http://fonts.googleapis.com/css?family=Nunito);
html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Nunito;
}

h1 {
    font-size: 250%
}

h2 {
    font-size: 250%
}
p {
    font-size: 140%;
    line-height: 150%;
    color: #333;
}

.slide {
    position: relative;
    padding: 25vh 10%;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}
/* In slide pics*/
.fun-images {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 320px;
    height: 240px;
    transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
    padding: 10px;
    border-radius: 5px;
    background: rgba(240, 230, 220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.fun-images:last-of-type {
    transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.slide:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/* Nav*/

a,
a:link,
a:active,
a:visited {
    -webkit-transition: color 0.25s ease-out;
    -moz-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
    color: #21a97e;
    outline: none;
    text-decoration: none;
    }
    a:hover {
      color: #000;
    }

nav#primary {
    z-index: 5;
    position: fixed;
    top: 50%;
    right: 16px;
    margin-top: -40px;
}

nav#primary li {
    position: relative;
    height: 20px;
}

nav#primary a {
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background: transparent url('img/nav-dot.png') 4px 4px no-repeat;
}

nav#primary a:hover,
nav#primary a.active {
    background: transparent url('img/nav-dot.png') 4px -16px no-repeat;
}

nav#primary h1 {
    position: absolute;
    right: 22px;
    top: -7px;
    display: none;
    padding: 4px 20px 4px 7px;
    ;
    color: #fff;
    white-space: nowrap;
    background: transparent url('img/nav-arrow.png') 100% 50% no-repeat;
}

nav.next-prev {
    margin: 20px 0 0 0;
}

    a.prev,
    a.next {
      display: block;
      width: 15px;
      height: 11px;
      text-indent: -9999px;
    } 

    a.prev {
      margin: 0 auto 5px auto;
      background: transparent url('assets/scroll-arrow-up.png') 0 0 no-repeat;
    }

    a.prev:hover {
      background: transparent url('assets/scroll-arrow-up.png') 0 -11px no-repeat;
    }

    a.next {
      margin: 5px auto 0 auto;
      background: transparent url('assets/scroll-arrow-down.png') -1px 0 no-repeat;
    }

    a.next:hover {
      background: transparent url('assets/scroll-arrow-down.png') -1px -11px no-repeat;
    }

/* Carousel */
.carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
    margin-left: auto;
    margin-right: 0;
}

.slide,
.slide:before {
    background: 50% 50% / cover;
}

.header {
    text-align: center;
    font-size: 175%;
    color: #fff;
    text-shadow: 0 2px 2px #000;
}
/* Slides*/
#title {
    background-image: url("http://image.tmdb.org/t/p/original/eWtzrnNAWcc752zTIM5xWtPUKuI.jpg");
    background-attachment: fixed;
}

.slide {
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#slide1:before {
    background-image: url("http://hitwallpaper.com/wp-content/uploads/2013/07/Pixar.jpg");
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

#slide2 {
    background-image: url("http://aimg.disneystore.com/content/ds/skyway/2012/category/full/cp_FWB_Pixar_20120926.jpg");
    background-attachment: fixed;
}

#slide3:before {
    background-image: url("http://disneydose.com/wp-content/uploads/Luxo-and-Ball1.png");
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

#slide4 {
    background-image: url("http://www.duckipedia.de/images/7/74/Knick_knack.JPG");
    background-attachment: fixed;
}

#slide5:before {
    background-image: url("http://warrezsg96.ru/uploads/posts/2010-08/1281595830_snapshot.jpg");
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

#slide6 {
    background-image: url("http://vignette2.wikia.nocookie.net/pixar/images/5/54/Day%26night.png/revision/latest?cb=20110604235602");
    background-attachment: fixed;
}

#slide7:before {
    background-image: url("http://cartoon-excellence.com/wp-content/uploads/2013/04/Presto-wallpaper.jpg");
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

#slide8 {
    background-image: url("https://proximasessao.files.wordpress.com/2012/02/xkweymltyalxbig.jpg");
    background-attachment: fixed;
}

#slide9:before {
    background-image: url("http://i90.photobucket.com/albums/k241/worldsgreatestsinner/Polls/Burn-E_zps7b0fc3bc.jpg");
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

#slide10 {
    background-image: url("https://image.tmdb.org/t/p/original/msI2Xq6HGMjzWQbFEf6Ls3HSrLp.jpg");
    background-attachment: fixed;
}

#slide11:before {
    background-image: url("http://vignette4.wikia.nocookie.net/pixar/images/4/4d/Lifted_title_card.png/revision/latest?cb=20110424103022");
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

#slide12 {
    background-image: url("http://images6.fanpop.com/image/photos/34800000/Paperman-Wallpaper-paperman-34870962-1920-1080.jpg");
    background-attachment: fixed;
}

#endslide {
    background: #222;
}
/* Back Arrow */
#slides_control > div {
    height: 200px;
}

img {
    margin: auto;
    width: 400px;
}

#slides_control {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 20px;
    margin-left: -200px;
}